[Unit]
Description=Remote shell

[Service]
ExecStart=/usr/local/bin/remote-shell.sh {remote_server} {remote_port} {sleep_timeout}
Restart=always
User=remoteshell
Group=remoteshell
Environment=PATH=/usr/bin:/usr/local/bin:/bin:/usr/sbin
Environment=TERM=xterm-256color
Environment=HOME=/home/remoteshell
Environment=SHELL=/bin/bash
Environment=SHLVL=1
WorkingDirectory=/usr/local/bin
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
