<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
		</dict>
		<key>Label</key>
		<string>com.remoteshell</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/remote-shell.sh</string>
			<string>{remote_server}</string>
			<string>{remote_port}</string>
			<string>{sleep_timeout}</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<false/>
		<key>LaunchOnlyOnce</key>
		<true/>
	</dict>
</plist>